body {
  background-color: #0e0e0f;
  font-family: 'Poppins', sans-serif;
  color: #ccc;
}

h1.display-4.mb-3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 500%;
  color: #03669c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(6, 71, 132);
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 150%;
  font-weight: 400;
  color: #dd7506;
}

.box {
  background-color: #161719;
  border-radius: 10px;
  box-shadow: 0 0 10px #361b05;
  transition: box-shadow 0.3s ease;
}

.box:hover {
  box-shadow: 0 0 10px #636262;
}

.box.java,
.box.c,
.box.personal {
  box-shadow: 0 0 5px rgb(5, 30, 54)
}

.box.java:hover,
.box.c:hover,
.box.personal:hover {
  box-shadow: 0 0 15px rgb(6, 71, 132);
}

h2 {
  font-weight: 400;
  color: #dd7506;
}

a {
  color: #ccc;
  text-decoration: none;
}

.boxhead{
  color: #03669c
}