doctype html
html
  head
    title Bryce Kratzer
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='styles.css')

  body
    header.text-center.py-5
      h1.display-4.mb-3 BRYCE KRATZER
      p.subtitle.lead Computer Science with Machine Learning

    main.container.py-5
      .row
        .col-md-12.col-lg-4.mb-4
          .box.java.p-4
            h2.mb-4 Java Programs
            ul.list-unstyled
              li.mb-3
                a(href='https://github.com/Brycekratzer/BTree-DNA-Bank').boxhead Self Balancing BTree Implementation
                p.mt-2 GeneBankSearchBTree is a Java program that searches DNA sequences in a B-tree index and computes their frequencies. It is part of a larger project that includes creating and searching a GeneBank database.
              li.mb-3
                a(href='https://github.com/Brycekratzer/HashTable-Implementation').boxhead Linear Probing and Double Hashing Implementation
                p.mt-2 This project implements hash tables in Java using linear probing and double hashing. The hash tables store HashObject instances with keys, frequencies, and probe counts. It also includes a TwinPrimeGenerator to find twin primes within a given range.
              li.mb-3
                a(href='https://github.com/Brycekratzer/MaxHeap-Implementation').boxhead MaxHeap Data Structure Implementation
                p.mt-2 This project implements a priority queue using a max-heap array to simulate task management in Stardew Valley. Tasks are prioritized based on their importance and time of creation, allowing efficient scheduling within the game environment.
              li.mb-3
                a(href='https://github.com/Brycekratzer/Double-Linked-List-Implementation').boxhead Double Linked List Implementation
                p.mt-2 The program is a double linked list implementation of a simulated one-level Cache and two-level Cache.
              li
                a(href='https://github.com/Brycekratzer/Stack\_and\_Queue\_Implementation').boxhead Stack and Queue Implementation
                p.mt-2 The following is an implementation of a queue and stack data structure.

        .col-md-12.col-lg-4.mb-4
          .box.c.p-4
            h2.mb-4 C Programs
            ul.list-unstyled
              li.mb-3
                a(href='https://github.com/Brycekratzer/Files-And-Pointers-C/tree/main').boxhead Gradebook Application
                p.mt-2 This program is a gradebook management system that reads student data from a CSV file and performs various operations on the data. The program is written in C and consists of a main function and several supporting functions and data structures.
              li.mb-3
                a(href='https://github.com/Brycekratzer/Shopping-Cart-Application').boxhead Shopping Cart Application
                p.mt-2 This is a simple console-based shopping cart application written in C. It allows users to add and remove items from their shopping cart, view item descriptions, and print an invoice with the total cost.
              li
                a(href='https://github.com/Brycekratzer/Writing-Assistant-C').boxhead Writing Assistant
                p.mt-2 This program is designed to analyze and manipulate user-provided text.

        .col-md-12.col-lg-4.mb-4
          .box.personal.p-4
            h2.mb-4 Personal Programs
            ul.list-unstyled
              li
                a(href='https://docs.google.com/presentation/d/1tRLaoVIrmgFp3AA8nEjKEp7hcsZ-tujx42oi-JyUCPY/edit?usp=sharing').boxhead Data Analysis Project
                p.mt-2 This study aimed to investigate the potential correlation between NFL Draft position within the top 10 selections and subsequent player performance. To achieve this objective, I analyzed various factors impacting player evaluation and draft selection. This was an individual project.

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')