body {
  background-color: #0e0e0f;
  font-family: 'Poppins', sans-serif;
  color: #ccc;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #03669c
}

.subtitle {
  color: #dd7506;
  font-variant: inherit;
  font-weight: 300;
}

.box {
  background-color: #161719;
  border-radius: 10px;
  box-shadow: 0 0 10px #361b05;
  transition: box-shadow 0.3s ease;
}

.box:hover {
  box-shadow: 0 0 10px #636262;
}

.box.java,
.box.c,
.box.personal {
  box-shadow: 0 0 5px rgb(5, 30, 54)
}

.box.java:hover,
.box.c:hover,
.box.personal:hover {
  box-shadow: 0 0 15px rgb(6, 71, 132);
}

h2 {
  font-weight: 400;
  color: #dd7506;
}

a {
  color: #ccc;
  text-decoration: none;
}

.boxhead{
  color: #03669c
}